# AWS credentials and configuration
AWS_REGION=eu-north-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# S3 configuration
AWS_S3_BUCKET=migration-brs-bucket-local

# Bedrock configuration
AWS_BEDROCK_REGION=eu-north-1
AWS_BEDROCK_MODEL=claude-3-5-sonnet-20241022

# GitHub configuration
GITHUB_TOKEN=
GITHUB_REPO_OWNER=
